<footer>
    <p>
        <a href="#">&#169; <%= new Date().getFullYear() %></a> Wattana Silangam All rights reserved.
        <a href="https://github.com/wattanasila"><ion-icon name="logo-github"></ion-icon></a>
        <a href="https://www.linkedin.com/in/wattana-silangam/"><ion-icon name="logo-linkedin"></ion-icon></a>
    </p>
    <script type="module" src="https://unpkg.com/ionicons@7.1.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.2/dist/ionicons/ionicons.js"></script>
</footer>
</body>
</html>