<%- include("partials/header") %>
<h1>Welcome to Job & Join</h1>
<form action="/jobs" method="POST">
    <div>
        <label for="query">Job Title</label>
        <input type="text" id="query" name="query">
    </div>
    <div>
        <label for="location">Location</label>
        <input type="text" id="location" name="location" value="Germany">
    </div>
    <button class="button-form" type="submit">Search Jobs</button>
</form>
<%- include("partials/footer") %>